
/*----------------- Index ------------*/

/*=================== MAIN NAVIGATION=============*/

.mainnavigation {
	text-align: center;
	font-size: 20px;
	margin: 15px;
}
.mainnavigation a {
	margin: 10px;
	color: #0D1B25;
	padding: 10px;
	transition-property: color;
	transition-duration: .35s;
	transition-timing-function: linear;
}
a.mainlogo {
	font-size: 30px;
	color: #C78509;
	margin: 15px;
	padding: 10px;
}
.mainnavigation a:hover {
	color: #C78509;
	text-decoration: none;
}
a.mainlogo:hover {
	text-decoration: none;
}
/*=================== /MAIN NAVIGATION=============*/

/*=================== content================*/
.mainitem1 {
	margin-top: 10px;
	width: 60%;
	display: inline-block;
	background-image: url(../img/hotel1.jpg);
	height: 250px;
	float: left;
}
.mainitem2 {
	width: 40%;
	margin-top: 10px;
	display: inline-block;
	height: 250px;
	background-color: #8D9B8E;
	color: white;
	text-align: center;
	word-wrap: break-word;
}
.mainitem2 a {
	color: white;
}

/*=================== /content ================*/

/*=================== INDEX4 ================*/

#map {
	height: 300px;
	width: 100%;
	overflow: hidden;
	transition: all 0.3s ease-out 0s;
	background: #333 none repeat scroll 0% 0%;
	position: relative;
}
.i4_navbar {
	margin-bottom: 0px;
}


/*=================== /INDEX4 ================*/



/*----------------SERVICES.HTML STARTS HERE---------*/


.servthumbnail, .servpanel {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
@media (min-width: 768px) {
  .mycollapse {
    height: auto;
    border-top: 0;
    box-shadow: none;
    max-height: none;
    padding-left:0;
    padding-right:0;
  }
  /*.mycollapse.servcollapse {
    display: block !important;
    width: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .mycollapse.in {
    overflow-x: visible;
  }*/

.rightnavbar
{
	max-width:300px;
	margin-right: 0;
	margin-left: 0px;
}	

.navbar-nav,
.navbar-nav > li,
.navbar-left,
.navbar-right,
.navbar-header {
	float:none !important;
	
}
}
.servleftnavbar {
	padding-left: 0;
	padding-right: 0;
}
.colla {
	border-radius: 0 !important;	
}
#i3menu {
		display: block;
		opacity:1;
    height: 150px;
    transition: all .3s ease;
    min-width: 150px;
	}
	.show-description {
		display:none !important;
		opacity:0 !important;
    height: 0 !important;
    padding: 0 8px !important;
    overflow: hidden !important;
    transition: all .3s ease !important;
    background-color: black !important;
	}




/*----------------SERVICES.HTML ENDS HERE-----------*/

/*----------------- Index ------------*/

/*=================== MAIN NAVIGATION=============*/
@font-face {
    font-family: Sony_Sketch_EF; 
    src: url(fonts/Sony_Sketch_EF.ttf);
   }
.mainnavigation {
	text-align: center;
	font-size: 30px;
	margin: 65px 10px 10px 10px;
}
.mainnavigation li {
	font-family: Sony_Sketch_EF;
	color: black;
	padding: 5px;
	transition-property: color, background-color;
	transition-duration: .35s;
	transition-timing-function: linear;
}
.mainnavigation li:hover {
	color: #5F5C55;
	text-decoration: none;
	border-top: 4px solid #FFC300;
	text-shadow: 1px 2px 2px #FFC300;
}
.mainlogoimg {
	width: 250px;
	height:150px;
	border-radius: 10%;
	padding: 10px;
	margin: 12px 0 0 25px;
}
.navbar-default {
	background-color: white;
	border: none;
}
/*=================== /MAIN NAVIGATION=============*/

/*=================== content================*/
.mainitem1 {
	height: 350px;
	padding: 0;
	margin-bottom: 30px;
	position: relative;
}
.mainitem2 {
	text-align: center;
	background-color: rgba(141, 133, 133, 0.4);
	height: 350px;
	color: #171100;
	padding: 70px 0 0 0;
	margin-bottom: 30px;
	font-size: 25px;
}
.mainitem2 a:hover {
	color: white;
}
.mainitem1 img {
	width: 100%;
	height: 100%;
}
.iteminside {
	width: 60%;
	height: 100px;
	position: absolute;
	left: 20%;
	top: 35%;
	background-color: rgba(141, 133, 133, 0.7);
	text-align: center;
	color: white;
	display: none;
}
.iteminside a {
	color: white;
}
@media all and (max-width: 700px) {
  .mainitem2 {
  	display: none;
  }
  .iteminside {
  	display: block;
  }
}
/*=================== /content ================*/

/*=================== social ================*/
.mainsocial {
	height: 60px;
	background-color: #0D1B25;
	width: 100%;
	margin-bottom: 10px;
	padding: 10px 30px 0 0;
	position: relative;
}
.mainsocialtext {
	color: #FFC000;
	position: absolute;
	top:10px;
	right: 15px;
}
.mainsocialtext:hover {
	color: #FFC000;
}
.mainfooter {
	margin-bottom: 10px;
	padding: 0;
	font-size: 20px;
}
.maincontact {
	text-decoration: underline;
}
.mainsocial1 {
	display: inline-block;
	height: 40px;
	width: 50%;
	position: absolute;
	left:15%;
	padding: 3px;
}
.fb {
	height: 100%;
}
.fb:hover {
	height: 95%;
	border: 1px solid #FFC000;
}
/*=================== /social ================*/

/*=================== /INDEX ================*/



/*=================== INDEX4 ================*/

#map {
	height: 300px;
	width: 100%;
	overflow: hidden;
	transition: all 0.3s ease-out 0s;
	background: #333 none repeat scroll 0% 0%;
	position: relative;
}
.i4_navbar {
	margin-bottom: 0px;
}


/*=================== /INDEX4 ================*/

